<div class="console">
  <div class="console__developer" [ngClass]="{'console__developer--finished' : console.isFinished() }">
    {{ console.developer }}
  </div>
  <div class="console__name" [ngClass]="{'console__name--finished' : console.isFinished() }">
    {{ console.consoleName }}
  </div>
  <div class="console__model" [ngClass]="{'console__model--finished' : console.isFinished() }">
    {{ console.model }}
  </div>
  <div class="console__version" [ngClass]="{'console__version--finished' : console.isFinished() }">
    {{ console.version }}
  </div>
  <div class="console__relase_date" [ngClass]="{'console__relase_date--finished' : console.isFinished() }">
    {{ console.relaseDate }}
  </div>
 <!-- <button class="console__btn todo__btn--status" (click)="toggleStatus()"> PRZEŁĄCZ </button> -->
  <button class="console__btn console__btn--remove" (click)="remove()"> USUŃ </button> 
</div>
